@page "/regions"
@page "/regions/{PageNumber:int}"

@inherits AllBase

@using EveEchoesPlanetaryProductionApi.Api.Models.Regions
@using EveEchoesPlanetaryProductionApi.Common
@using EveEchoesPlanetaryProductionApi.Web.Components
@using EveEchoesPlanetaryProductionApi.Web.Services

@inject IEveApiService eveApiService
@inject IAppDataService appDataService
@inject NavigationManager navigation

<section class="container mb-5">
    @if (this.Regions is not null)
    {
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-left">Region</th>
                    <th class="text-left">Constellations</th>
                    <th class="text-left">Solar Systems</th>
                    <th class="text-left">Planets</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                @foreach (var region in this.Regions)
                {
                    <tr>
                        <td class="text-left">
                            <a href=@($"/region/{region.Id}")>@region.Name</a>
                        </td>
                        <td class="text-left">@region.ConstellationsCount</td>
                        <td class="text-left">@region.SolarSystemsCount</td>
                        <td class="text-left">@region.PlanetsCount</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <Pagination Page="@(this.PageNumber)"
                TotalPages="@this.TotalPages"
                Radius="3"
                SelectedPage="this.ChangePage" />
</section>

@code {
    private IEnumerable<RegionListingModel> Regions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.NavigationManager = this.navigation;
        this.Location = "regions";

        await base.OnInitializedAsync();
    }

    protected override async Task LoadData()
    {
        this.Regions = await this.eveApiService.Regions.GetPageAsync(this.PageNumber);

        var totalRegions = this.appDataService.RegionsCount ?? await this.eveApiService.Regions.GetCountAsync();
        this.appDataService.RegionsCount ??= totalRegions;

        this.TotalPages = (int)Math.Ceiling(totalRegions / (double)GlobalConstants.Ui.RegionsPageSize);
    }
}
