@using static EveEchoesPlanetaryProductionApi.Web.Common.PresentationConstants

@if (this.BestPlanets?.Any() ?? false)
{
    <section class="my-5">
        <h2>Most valuable planetary resources</h2>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Planet Name</th>
                <th>Resource</th>
                <th>Output</th>
                <th>Price</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var planet in this.BestPlanets)
            {
                <tr>
                    <td>@planet.Name</td>
                    <td>@planet.Resource</td>
                    <td>@planet.Output</td>
                    <td>@(planet.Price.ToString(PriceFormat) + IskSymbol)</td>
                    <td>@((planet.Price * (decimal) planet.Output).ToString(PriceFormat) + IskSymbol)</td>
                </tr>
            }
            </tbody>
        </table>
    </section>
}

@code {
    [Parameter]
    public IEnumerable<SolarSystemBest.PlanetValue> BestPlanets { get; set; }
}
